:root {
  --color-white: rgba(255,255,255,0.3);
  --color-secondary-white: #F2F4F8;
  
  --color-gray: #ECECEC;
  --color-gray65: #ECECECA6;

  --color-purple: #370C94;
  --color-header: #0B0121;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: var(--color-gray65);
}

body {
  background-image: linear-gradient(to bottom, var(--color-purple) , var(--color-header));
}

header {
  background-color: var(--color-header);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 24px;
    height: 110px;
  }
}

.section-main {
  /* background-image: url(../imgs/background.png); */
  background-repeat: no-repeat;
  .container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; */

    .cta-learn {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: var(--color-secondary-white);
      padding: 8px 16px 10px;
      border-radius: 48px;
      border: solid 0.97px var(--color-white);
      margin-top: 89px;

    }
    .ctas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

     .cta.filed {
        background-color: var(--color-gray);
        color: var(--color-header);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px; 
        padding: 18px 80px;
        border-radius: 90px;
        margin-bottom: 28px;

      }
      .cta.outlined {
        color: var(--color-gray);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        padding: 18px 89px;
        border-radius: 92px;
        border: 1px solid var(--color-gray);
        }
    }

    .title {
      font-size: 62px;
      font-weight: 500;
      line-height: 62px;
      color: var(--color-gray);
      text-align: center;
    }

    .description {
      text-align: center;
      margin: 31px 24px 32px;
    }
  }
}